<div class="card" *ngIf="product.payload.val().title" style="width: 18rem;">
  <img [src]="product.payload.val().imageUrl" *ngIf="product.payload.val().imageUrl" class="card-img-top" style="height: 150px;">
  <div class="card-body">
    <h5 class="card-title">{{product.payload.val().title}}</h5>
    <h5 class="card-title">{{product.payload.val().category}}</h5>
    <p class="card-text">  {{product.payload.val().price | currency:'USD':true}}</p>
  </div>
  <div class="card-footer">
      <button *ngIf="getQuantity() === 0; else quantityUpdated"
       class="btn btn-success btn-block" (click)="addToCart()"> + Add to Cart</button>
  </div> 
  <ng-template #quantityUpdated> 
    <div class="row">
        <div class="col-4"><button class="btn btn-danger btn-block" (click)="removeFromCart()"> - </button></div>
        <div class="col-4"> {{getQuantity()}} </div>
        <div class="col-4"><button class="btn btn-success btn-block" (click)="addToCart()"> + </button></div>
    </div>
  </ng-template> 

</div>   
